@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;



.footer {
    background-color: $dark-blue;
    padding-top: 40px;
    padding-bottom: 36px;
        
    .container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;

       @include breakpoint(desktopxl) {
         display: flex;
         justify-content: space-between;
         padding-top: 20px;
         padding-bottom: 20px;
            
        }

        ul {
            @include list;

            
    
            a {
                @include button;
                @include gradient-blue-pink;
                padding-left: 25px;
                padding-right: 25px;

                
            }
        }
    }

}